body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: rgba(0, 0, 0, 0.65);

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-8xs: 5px;
}
