<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/desktop-3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat Subrayada:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
  </head>
  <body>
    <!-- <style>
      body{
        /* transform: scale(.8);  */
        /* transform-origin: top center; */
      }
    </style> -->
    <div class="desktop-3">
      <button class="frame">
        <div class="frame-inner">
          <div class="file-up-parent">
            <a href="/find" class="file-up">FILE UP</a>
            <img class="vector-icon" alt="" src="../static/vector.svg" />
          </div>
        </div>
      </button>
      <main class="frame1">
        <div class="frame2">
          <div class="frame3">
            <div class="what-about-equality-wrapper">
              <a class="what-about-equality">What about equality ?</a>
            </div>
            <div class="what-is-it-wrapper">
              <a class="what-about-equality">What is it?</a>
            </div>
            <div class="frame4">
              <div class="frame-child">
                <div class="frame-item"></div>
              </div>
              <a class="how-to">How to</a>
            </div>
          </div>
        </div>
        <div class="frame5">
          <div class="frame6">
            <div class="line-div"></div>
            <div class="frame-child1"></div>
            <div class="frame-child2"></div>
            <div class="frame-child3"></div>
            <h1 class="evaluates-reports-by">
              EVALUATES REPORTS BY USING DATA ANALYTICS AND ALGORITHMS
            </h1>
            <footer class="rectangle-footer"></footer>
            <div class="frame7">
              <div class="services-wrapper">
                <h2 class="services"><span class="span">///</span> Services</h2>
              </div>
            </div>
            <img class="frame-icon" alt="" src="../static/frame.svg" />

            <div class="frame8">
              <h1 class="user-friendly-reports-on-container">
                <p class="user-friendly-reports-on">
                  User-friendly reports on case backlog, resolution times,
                </p>
                <p class="user-friendly-reports-on">judge workloads,</p>
                <p class="user-friendly-reports-on">and priority allocation</p>
              </h1>
            </div>
            <div class="frame9">
              <div class="evaluates-reports-by1">
                EVALUATES REPORTS BY USING DATA ANALYTICS AND ALGORITHMS
              </div>
            </div>
            <img class="frame-icon1" alt="" src="./static/frame1.svg" />

            <img class="frame-icon2" alt="" src="./static/frame2.svg" />

            <div class="vector-parent">
              <img
                class="rectangle-icon"
                alt=""
                src="./static/rectangle-12.svg"
              />

              <div class="frame-div">
                <button class="wrapper">
                  <div class="div">01</div>
                </button>
                <div class="evaluates-reports-by2">
                  EVALUATES REPORTS BY USING DATA ANALYTICS AND ALGORITHMS
                </div>
                <div class="frame-wrapper1">
                  <div class="line-parent">
                    <div class="frame-child4"></div>
                    <div class="frame-child5"></div>
                    <div class="frame-child6"></div>
                    <div class="frame-child7"></div>
                    <div class="frame-child8"></div>
                    <div class="frame-child5"></div>
                    <div class="frame-child10"></div>
                    <img class="line-icon" alt="" src="./static/line-33.svg" />

                    <div class="frame-child11"></div>
                    <div class="frame-child12"></div>
                    <div class="frame-child13"></div>
                    <div class="frame-child14"></div>
                    <div class="frame-child15"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame10">
              <div class="frame-parent1">
                <div class="container">
                  <h1 class="h1">01</h1>
                </div>
                <div class="frame-child16"></div>
              </div>
            </div>
            <img class="frame-icon3" alt="" src="./static/frame3.svg" />

            <div class="frame11">
              <div class="rectangle-div"></div>
            </div>
            <div class="frame12">
              <div class="div1">01</div>
            </div>
            <div class="frame-child17"></div>
            <div class="frame-child18"></div>
            <div class="frame-child19"></div>
            <div class="frame-child20"></div>
            <div class="frame-child21"></div>
            <div class="frame-child22"></div>
            <div class="frame-child23"></div>
            <div class="frame-child24"></div>
            <img class="group-icon" alt="" src="./static/group.svg" />
          </div>
          <div class="frame13">
            <div class="frame14">
              <div class="frame15">
                <div class="frame16">
                  <div class="frame17">
                    <div class="parent">
                      <h1 class="h1">03/</h1>
                      <h1 class="advocate-support">ADVOCATE SUPPORT</h1>
                    </div>
                  </div>
                  <div class="frame18">
                    <div class="frame-inner1">
                      <div class="platform-wrapper">
                        <h1 class="services">Platform_</h1>
                      </div>
                    </div>
                    <div class="frame-inner2">
                      <div class="vector-wrapper">
                        <img
                          class="vector-icon1"
                          alt=""
                          src="./static/vector1.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="frame19">
                    <div class="frame20">
                      <div class="group">
                        <h1 class="h1">01/</h1>
                        <h1 class="advocate-support">LEGAL</h1>
                      </div>
                      <div class="parent1">
                        <div class="div2">02/</div>
                        <h1 class="advocate-support">LEGAL GUIDANCE</h1>
                      </div>
                    </div>
                  </div>
                  <div class="frame21">
                    <div class="frame22">
                      <div class="parent2">
                        <div class="div2">04/</div>
                        <h1 class="security">SECURITY</h1>
                      </div>
                      <div class="parent3">
                        <div class="div2">05/</div>
                        <h1 class="security">COLLABORTION</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame23">
                <div class="frame24">
                  <img class="frame-icon4" alt="" src="./static/frame4.svg" />

                  <div class="frame-child25"></div>
                </div>
                <h6 class="your-trusted-legal-container">
                  <span class="span1">
                    <span class="span2">///</span>
                    <span class="span3"> </span>
                  </span>
                  <span class="your-trusted-legal">Your Trusted Legal</span>
                </h6>
                <div class="frame25">
                  <div class="frame26">
                    <div class="frame-inner3">
                      <div class="document-wrapper">
                        <h2 class="services">Document</h2>
                      </div>
                    </div>
                  </div>
                  <div class="frame27">
                    <div class="frame28">
                      <div class="transforming-indian-judiciary-wrapper">
                        <h1 class="transforming-indian-judiciary">
                          Transforming Indian Judiciary for Efficiency,
                          Transparency, and Fairness through Innovation and
                          Education
                        </h1>
                      </div>
                    </div>
                    <div class="frame29">
                      <div class="frame30">
                        <div class="frame-inner4">
                          <div class="mission-parent">
                            <h1 class="services">Mission</h1>
                            <h1 class="services">/</h1>
                            <h1 class="vision">Vision</h1>
                          </div>
                        </div>
                      </div>
                      <div class="frame31">
                        <div class="vector-container">
                          <img
                            class="vector-icon2"
                            alt=""
                            src="./static/vector2.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
