<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-2">
      <h1 class="calculate-court-fee-wrapper">
        <div class="calculate-court-fee"># Calculate Court Fee</div>
      </h1>
      <div class="desktop-2-inner">
        <img class="frame-child" alt="" src="./public/rectangle-8.svg" />
      </div>
      <div class="frame-parent">
        <div class="case-type-parent">
          <h1 class="case-type">CASE TYPE*</h1>
          <h1 class="select-one">Select one</h1>
        </div>
        <div class="frame-item"></div>
      </div>
      <div class="frame-group">
        <h1 class="state-wrapper">
          <h1 class="case-type">STATE*</h1>
        </h1>
        <div class="frame-item"></div>
      </div>
      <div class="frame-container">
        <div class="claim-amount-parent">
          <h1 class="case-type">CLAIM AMOUNT*</h1>
          <h1 class="in-no">in no.</h1>
        </div>
        <input class="rectangle-input" type="text" />
      </div>
      <button class="calculate-wrapper" autofocus>
        <b class="calculate">CALCULATE</b>
      </button>
      <h1 class="court-fee-wrapper">
        <div class="calculate-court-fee">COURT FEE :</div>
      </h1>
      <h1 class="wrapper">
        <div class="calculate-court-fee">555</div>
      </h1>
    </div>
  </body>
</html>
