<!DOCTYPE html>
<html>
<head>
    <title>Instant FIR Response</title>
    <style>
        body {
            background-color: #E3DFD7;
            font-family: "Montaga", sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #message-container {
            text-align: center;
        }

        h1 {
            font-size: 36px;
            font-weight: bold;
            color: #333;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Montaga:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="message-container">
        <h1>Your Instant FIR is recorded and sent to the nearest Police Station. 
            The Police will be responding ASAP!!!</h1>
    </div>
</body>
</html>
